.edc {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: auto;
  overflow: visible;
  padding: 4rem 0;

  &_ctn {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1 1 50%;
    margin: 10vh auto;

    &_title {
      color: var(--green-theme-main-color);
      font-size: 6rem;
      font-weight: 800;
    }
    
    &_wrp {
      display: flex;
      align-content: center;
      flex-direction: row;
      align-items: center;
      width: 80%;
      border-left: 1px solid var(--green-theme-main-color);;
      padding-left: 4rem;
      transition: transform 0.3s ease, border-left-width 0.3s ease;
      // margin: 1rem auto;

      &:hover {
        transform: translateX(10px);
        border-left-width: 3px;
      }

      &_textbox {
        width: 100%;
        &::before{
          content: '';
          position: absolute;
          width: 2rem;
          height: 2rem;
          top: 10;
          margin: 1.7rem;
          border-radius: 50%;
          background-color: var(--green-theme-main-color);
          margin-left: -5.1rem;
        }

        h3 {
          color: var(--green-theme-main-color);
          margin: 10px 2px;
          font-weight: 400;
          font-size: 2rem;
          line-height: 3rem;
        }
        span {
          color: var(--green-theme-sub-dark-text-color);
          margin: 1px 2px;
          font-size: 1.5rem;
          line-height: 2rem;
          display: block;
        }
        p {
          color: var(--green-theme-sub-text-color);
          margin: 10px 2px;
          font-size: 1.5rem;
          line-height: 2rem;
          white-space: wrap;
          position: relative;
        }
      }
    }
  }
}

// 移動設備樣式
@media only screen and (max-width: 375px ) {
  .edc {
    &_ctn {
      &_title {
        font-size: 3rem;
      }

      &_wrp {
        &_textbox {
          &::before{
            width: 1.5rem;
            height: 1.5rem;
            margin-left: -4.8rem;
          }
          h3 {
            font-size: 1.5rem;
          }
          span {
            font-size: 1.25rem;
          }
          p {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}
// 平板樣式
@media only screen and (min-width: 376px) and (max-width: 768px) {
  .edc {
    &_ctn {
      &_title {
        font-size: 3rem;
      }

      &_wrp {
        &_textbox {
          &::before{
            width: 1.5rem;
            height: 1.5rem;
            margin-left: -4.8rem;
          }
          h3 {
            font-size: 1.5rem;
          }
          span {
            font-size: 1.25rem;
          }
          p {
            font-size: 1.25rem;
            line-height: 2rem;
          }
        }
      }
    }
  }
}
// 小型桌面樣式
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .edc {
    &_ctn {
      &_title {
        font-size: 4rem;
      }

      &_wrp {
        &_textbox {
          &::before{
            width: 1.5rem;
            height: 1.5rem;
            margin-left: -4.8rem;
          }
          h3 {
            font-size: 1.5rem;
          }
          span {
            font-size: 1.25rem;
          }
          p {
            font-size: 1.25rem;
            line-height: 2rem;
          }
        }
      }
    }
  }
}