.home {
  position: relative;
  // height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // align-content: center;
  flex-direction: column;
  overflow: visible;
  min-height: 100vh;
  padding-top: var(--navbar-height); // 補上被 navbar 蓋住的高度

  &_info {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    &_text-wrapper {
      display: flex;
      justify-content: center;
      
      flex-direction: column;
      max-width: 50%;

      &_name {
        display: flex;
        flex-direction: row;
        gap: 15px;
        flex-wrap: wrap;

        span {
          color: var(--green-theme-main-color);
          // margin: 0px;
          margin-bottom: 15px;
          font-size: 6rem;
          // line-height: 9rem;
          position: relative;
          overflow: hidden;
          // white-space: nowrap;
          // animation: typingEffectAnimation 2.5s steps(30, end);
        }

        &_lastname {
          font-weight: 1000 !important;
          background: linear-gradient(270deg, #598392, #AEC3B0, #f6e0ec);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;  // 讓文字顯示背景色
          background-size: 200%;
          animation: animation-gradient var(--text-animation-duration) linear infinite;
        }
      }

      &_position {
        display: flex;
        gap: 7px;
        margin: 10px;

        .prefix {
          color: var(--green-theme-main-color);
          font-size: 2rem;
        }

        &_title {
          font-weight: bolder;
          &.fade-in {
            opacity: 1;
            transform: translateY(0);
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
          }
          
          &.fade-out {
            opacity: 0;
            transform: translateY(10px);
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
          }
        }

        span {
          color: var(--green-theme-main-color);
          font-size: 2rem;
        }
      }

      &_intro {
        display: flex;
        margin: 10px;
        
        p {
          color: var(--green-theme-sub-text-color);
          // margin: 0px;
          font-size: 2rem;
          line-height: 1.5em;
        }
      }
    }

    &_portrait-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40rem;
      height: 40rem;
      border-radius: 10%;
      background-color: #e5e7eb;
      margin: 30px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &_contact-me {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    flex-direction: row;
    flex-wrap: wrap;
  
    button {
      cursor: pointer;
      margin: 0px 15px;
      padding: 10px 10vw;
      font-size: 2rem;
      background: transparent;
      color: var(--green-theme-main-color);
      border: 1.5px solid var(--green-theme-main-color);
      border-radius: 4px;
      font-weight: 500;
      min-width: 120px; // 避免按鈕太小
      max-width: 90%;
      transition: all 0.5s ease-in-out;

      &:hover {
        background: var(--green-theme-main-color); // 改變背景色
        color: var(--green-theme-background-color);
        transform: translateY(-5px) scale(1.1) !important; // 向上浮動
        box-shadow: 0px 5px 15px var(--green-theme-sub-text-color); // 添加陰影
        filter: brightness(1.1); // 增加亮度
        // background-color: var(--green-theme-main-color);
        // color: var(--green-theme-background-color);
      }
    }
  }

  &_personal_links {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    a {
      cursor: pointer;
      padding: 10px;
      font-size: 2rem;
      background: transparent;
      transition: all 0.5s ease;

      &:hover {
        color: var(--green-theme-background-color);
        transform: translateY(-5px) scale(1.1); // 向上浮動
        filter: drop-shadow(0 0 10px var(--green-theme-sub-text-color)); // 發光效果
      }
    }
  }

  .resume-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 375px ) {
  .home {
    &_info {
      &_text-wrapper {
        margin: 0px;
        padding: 15px;

        h1 {
          font-size: 3rem;
          line-height: 5rem;
        }

        p {
          font-size: 1.5rem;
          line-height: 2.5rem;
        }
      }

      &_portrait-wrapper {
        width: 20rem;
        height: 20rem;
      }
    }
  }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
  .home {
    &_info {  
      flex-direction: column-reverse; // 在手機上先顯示照片再顯示文字
      &_text-wrapper {
        margin: 0px;
        padding: 15px;
        max-width: 90%;
        text-align: center;

        &_name {
          justify-content: center;
        }
        &_position {
          justify-content: flex-start;
          flex-direction: column;
          align-items: center;

          .prefix {
            align-self: center;
            margin-bottom: 5px; // 如果使用列佈局則添加間距
          }
          
          &_title {
            text-align: center;
          }
        }
        h1 {
          font-size: 4rem;
          // line-height: 6rem;
        }
  
        p {
          font-size: 1.25rem;
          line-height: 1.75rem;
        }
      }
  
      &_portrait-wrapper {
        width: 20rem;
        height: 20rem;
      }
      &_contact-me {
        button {
          width: 80%;
          margin: 10px auto;
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .home_info_text-wrapper h1 {
    font-size: 5rem;
  }
  .home_info_text-wrapper p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@keyframes typingEffectAnimation{
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animation-gradient {
  to {
    background-position: 200%;
  }
}

// @keyframes fadeInUp {
//   from {
//     opacity: 0;
//     transform: translateY(10px);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }